<h1>Insert the form to edit an instance of your model here.</h1>
<form class="col s12" action='/teams'>
    <div class="row">
        <div class="input-field col s6">
            <input id="last_name" type="text" name="last_name" class="validate">
            <label for="last_name">Last Name</label>
            <input id="last_name" type="text" name="last_name" class="validate">
            <label for="last_name">Last Name</label>
        </div>
    </div>
</form>
    

add players to team
remove players from team
change name
delete team
