<h3><%= @user.username%>'s Fantasy Football Teams</h3>
<table>
        <thead>
          <tr>
              <th>Team Name</th>
              <th>League</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
        <% @user.teams.each do |team| %>
          <tr>
            <td><a href="/teams/<%= team.id %>"> <%= team.name %></a></td>
            <td>TO DO</td>
            <td><a class="waves-effect waves-light btn green accent-2" href="/teams/<%= team.id %>/edit">Edit</a><td>
          </tr>
          <% end %>
         
        </tbody>
      </table>
    <ul>
        
    </ul>



<!--  TO DO 

 edit/delete buttons

-->


