<h1>Create a New Team</h1>
    <form action="/teams" method="POST">
    <p>
        <label>Team Name:</label>
        <input type="text" name="team_name" >
        <br>
        <label>Number of players on roster</label>
        <input type="text" name="roster_size">
        <input type="submit">
  </p>
