<br>
<br>
<div class="row">
    <div class="col s4 offset-s4">
      <div class="card-panel white">
        <span class="white-text">
          <h4 class="center-align black-text">Login</h3>
          <form action="/login" method="POST">
            <input id="username" type="text" name="username">
            <label for="username">Username</label>
            <input id="password"type="password" name="password">
            <label for="password">Password</label><br><br>
            <div class="center-align">
              <button class="btn waves-effect waves-light green accent-2 white-text" type="submit" name="action">Submit</button>
            </div>
          </form>     
        </span>
      </div>
    </div>
  </div>