<form action="/players/<%= @player.id %>" method="POST">
<div class="input-field col s6">
    <input id="auction_price" type="integer" class="validate" name="actual_price">
    <label for="auction_price">Auction Price</label>
</div>

<div class="input-field col s6">
    <input id="projected_price" type="integer" class="validate" name="projected_price">
    <label for="projected_price">Projected Price</label>
</div>
<div>
<input type="submit">
