<div class="row">
    <div class="col s4 offset-s4">
      <div class="card-panel small white">
        <span class="white-text">
          <h4 class="center-align black-text">Welcome</h4>
          <form action="/login" method="POST">
            <div class="center-align">
              <a class="waves-effect waves-light btn green accent-2" href="/login">Login</a>
            </div>
            <br>
            <div class="center-align">
              <a class="waves-effect waves-light btn green accent-2" href="/signup">Sign Up</a>
            </div>
          </form>     
        </span>
      </div>
    </div>
  </div>
  </div>