<div class="row">
    <h4 class="center-align">Fantasy Football Team Builder</h4><br />
  <div class="col s4 offset-s4">
    <div class="card-panel small white">
      <span class="white-text">
          <form action="/login" method="POST">
            <div class="center-align">
              <a class="waves-effect waves-light btn green accent-2" href="/login">Login</a>
            </div>
            <br>
            <div class="center-align">
              <a class="waves-effect waves-light btn green accent-2" href="/signup">Sign Up</a>
            </div>
          </form>     
        </span>
      </div>
    </div>
  </div>
  </div>


  test